*{
    margin: 0 ;
    font-family: Arial;
    border: border-box;
 }
 
  
 /*  */
 .back-image{
 height: 600px;
 
  
     background-image: url("back-image.jpeg");
     background-size:cover;
 }
 
.nav_bar{
    height: 70px;
 
    background-color:transparent ;
    color: white; 
    display:flex;
    align-items: center;
    justify-content:space-around;
    
  
    
}
.logo{
    height: 80px;
    width: 80px;
    background-image: url("logo.png");
    background-size:cover;
    margin-left: 20px;
}
.nav_tital{
    height: 50px;
    width: 300px;
    margin-right: 180px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #00d6c8;
     /* #4ecdc4 */
     font-size:0.99rem;
     font-weight: 700;
     text-shadow:currentColor;


}
.nav_tital h1{
    font-family:  sans-serif;
  /* 'Franklin Gothic Medium', 'Arial Narrow', Arial,*/


}
.nav_tital h1:hover{
    
    text-shadow:0 0 20px #000000;
  /* 'Franklin Gothic Medium', 'Arial Narrow', Arial,*/


}


.nav_address{
    height: 50px;
    width: 530px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_address P {
    display: inline;
    color: wheat;
    
   
}
.nav_address a{
    display: inline;
    text-decoration:none;
    color: #f7fff7; 
    font-size:1rem;
    background-color: transparent;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    
        color: #ffffff;
        padding-bottom: 8px;
        font-weight: 600;
      
    border-bottom: 2px solid #000000;
}
/*  */
.main-titalbox{
    margin-left: 40px;
    margin-top: 120px;
    height: 200px;
    width: 38%;
    display: flex;
   justify-content: center;
    background-color:transparent;
    
}
.main-tital p{
    /* text-align: center; */
    font-family:initial;
    font-weight: 700;
    font-size: 2.2rem;
}
.defination{
    text-decoration: none;
    font-size: 1.3rem;
}
.button-start{
    height: 30px;
    margin-left: 80px;
    width: 120px;
    display: flex;
    justify-content:space-around;
    background-color: transparent;
}
.start{
    width: 120px;
    display: flex;
    background-color: #98fb98;
    font-size: 1.2rem;
    justify-content: space-around;
    border-radius: 20px;
    transition: all ease 0.2s;
}
.start:active{
    scale: 0.9;
    box-shadow: 5px 5px 19px black;
    
}
.arrow-icon {
    height: 30px;
    width: 50px;
}
.arrow-icon i {
    font-size: 1.5rem;
}
.spam{
    height: 500px;
    width: 100%;
    /* 50c878 */
    
    background-image:url("back-color.jpeg");
    background-size: cover;
    display: flex;
    justify-content:start;
    
    align-items: center;
    
}
.photo{
    height: 400px;
    width: 300px;
    background-color:transparent;
    margin-left: 100px;
}
.photo-icon{
    background-image: url("photo.jpg");
    background-size: cover;
    height: 400px;
}
.photo-icon:hover{
    scale: 1.1;
    box-shadow: 5px 5px 19px black;
}
.photo-info{
    height: 150px;
    width: 500px;
    background-color: transparent;
    margin-left: 120px;

}
.info p{
    font-size:1.6rem;
    text-decoration: none;
}
.info span{
    font-weight:700;
    font-size:2rem;
}
.photo-info2{
    height: 100px;
    width: 300px;
    margin-top:50px ;
    background-color: transparent;
    
   
}
.New_to_Zero{
    width: 300px;
    background-color: transparent;
    font-size: 1rem;

}
.Start_Here{
    width: 300px;
    background-color: transparent;
    color: #F28710;
    
}
.Start_Here a{
    text-decoration: none;
    color: #F28710;
    font-size: 20px;

}


/* l */
.shop{
    height: 150px;
    width: 100%;
    background-image: url("back-color.jpeg");
    display: flex;
    justify-content: center;


}
.shop-tital{
    height: 200px;
    margin-top: 30px;
    font-family:cursive;
    font-weight: 700;
    font-size: 3rem;
    font-style: initial;
    
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-image: url("back-color.jpeg");
}
.box{
    height: 330px;
    /* border: 2px black solid; */
    width: 22%;
    background-color: rgba(255, 255, 255, 0.478);
    padding: 20px 0px 15px;
    margin: 15px;
}
.box:hover{
    scale: 1.155;
    box-shadow: 5px 5px 15px black;
}
.box-img1{
    height:240px;
    background-image: url("SHOPPING\ KIT.png");
    background-size: cover
 
}
.box-img2{
    height:240px;
    background-image: url("KITCHEN.png");
    background-size: cover
 
}
.box-img3{
    height:240px;
    background-image: url("HOUSEKEEPING.png");
    background-size: cover
 
}
/*  */
.box-img4{
    height:240px;
    background-image: url("OFFICE\ &\ SCHOOL.png");
    background-size: cover
 
}
.box-img5{
    height:240px;
    background-image: url("HYGIENE\ &\ BEAUTY\ \(1\).png");
    background-size: cover
 
}
.box-img6{
    height:240px;
    background-image: url("TRAVEL\ &\ CLOTHES.png");
    background-size: cover
 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/

@media(max-width: 574px){
    .back-image{
        height: 700px;
        
         width: 700px;
         
           
        }
    
        .nav_bar{
            height: 200px;
            width: 100%; /* Adjust width for smaller screens */
            flex-direction: column; /* Arrange items vertically for smaller screens */
            align-items: center; /* Center items horizontally for smaller screens */
        }
        .nav_tital{
            height: 50px;
            width: auto;
            
        
        
        }
    
        .nav_tital h1{
            font-size: 3.5rem; /* Increase font size for smaller screens */
        }
        .nav_address{
            width: 700px;
        }
        .nav_address a{
            
            font-size:1.5rem;
            
        }
    .main-titalbox{
       
        height: auto;
        width: auto;
        display: flex;
       justify-content: center;
        background-color:transparent;
        
    }
    .main-tital p{
        /* text-align: center; */
        font-family:initial;
        font-weight: 700;
        font-size: 1.9rem;
    }
    .defination{
        text-decoration: none;
        width: 100px;
        font-size: 1.3rem;
    }
    .button-start{
        height: 30px;
        margin-left: 100px;
        width: 150px;
        display: flex;
        justify-content:space-around;
        background-color: transparent;
        margin-top: 25px;
    }
    .start{
        width: 120px;
        display: flex;
        background-color: #98fb98;
        font-size: 1.2rem;
        justify-content: space-around;
        border-radius: 20px;
        transition: all ease 0.2s;
    }
    .spam{
        height: 500px;
        width: 700px;
      
        /* 50c878 */
        display: table;
       
       
    }
    .photo{
        height: auto;
        width: auto;
        background-color:transparent;
        margin-right: 15%;
        margin-top: 25%;
    }
    .photo-icon{
       
        height: 600px;
    }
    .photo-icon:hover{
        scale: 1.1;
        box-shadow: 5px 5px 19px black;
    }
    .photo-info{
        margin-top: 38px;
        height: auto;
        width: 530px;
        background-color: transparent;
       
    
    }
    .info p{
        font-size:1.9rem;
        text-decoration: none;
    }
    .info span{
        font-weight:600;
        font-size:1.8rem;
    }
    .photo-info2{
        height: 100px;
        width: 300px;
        margin-top:50px ;
        background-color: transparent;
        
       
    }
    .New_to_Zero{
        width: 300px;
        background-color: transparent;
        font-size: 1.3rem;
    
    }
    .Start_Here{
        width: 300px;
        background-color: transparent;
        color: #F28710;
        
    }
    .Start_Here a{
        text-decoration: none;
        color: #F28710;
        font-size: 50px;
        margin-left: 20px;
        align-items: center;
    
    }
    .shop{
        height: 200x;
        width: 700px;
        background-image: url("back-color.jpeg");
        display: flex;
        justify-content: center;
    
    
    }
    .shop-tital{
        height: 700px;
        margin-top: 30px;
        font-family:cursive;
        font-weight: 700;
        font-size: 2.9rem;
        font-style: initial;
        
    }
    
    .shop-section{
        display: flex;
        justify-content: initial;
       width: 700px;
    }
    .box{
        height: auto;
        /* border: 2px black solid; */
        width: 500px;
        background-color: rgba(255, 255, 255, 0.478);
        padding: 20px 0px 15px;
        margin: 15px;
    }
    .box:hover{
        scale: 1.155;
        box-shadow: 5px 5px 15px black;
    }
    .box-img1{
        height:240px;
        background-image: url("SHOPPING\ KIT.png");
        background-size: cover
     
    }
    .box-img2{
        height:240px;
        background-image: url("KITCHEN.png");
        background-size: cover
     
    }
    .box-img3{
        height:240px;
        background-image: url("HOUSEKEEPING.png");
        background-size: cover
     
    }
    /*  */
    .box-img4{
        height:240px;
        background-image: url("OFFICE\ &\ SCHOOL.png");
        background-size: cover
     
    }
    .box-img5{
        height:240px;
        background-image: url("HYGIENE\ &\ BEAUTY\ \(1\).png");
        background-size: cover
     
    }
    .box-img6{
        height:240px;
        background-image: url("TRAVEL\ &\ CLOTHES.png");
        background-size: cover
     
    }
    .footer{
       width:700px;
       
      }
}


